*, *::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(255, 255, 255) !important;
}

body p {
    letter-spacing: 1px;
    color: rgb(110, 110, 110);
    font-family: Quicksand;
}


body a {
    text-decoration: none !important;
    letter-spacing: 1px;
}

/*Header Area*/

.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #5485e8 ;
}

.Company_Logo {
    font-size: 28px !important;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
}

.Company_Logo:hover{
    color: #ffffff;
}

.SignIn_SignUp a:first-child {
    margin-right: 20px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}


.SignIn_SignUp a:last-child {
    background-color: #f8b045;
    font-size: 18px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}



/*----------------------------*/
/*----------------------------*/
/*Section One*/

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(0, 0, 0, .7),rgba(0, 0, 0, .7)), url("../img/3269771.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-inner {
    margin-top: 5%;
    padding: 0 5% 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.hero-inner h1 {
    font-size: 3em;
    font-family: Roboto;
    letter-spacing: 1px;
    font-weight: 500;
}


.hero-inner h2 {
    font-size: 1.5em;
    padding: 1% 10% 2% 10%;
    letter-spacing: 1px;
    font-weight: 500;
}

.hero-inner a {
    display: block;
    font-family: Roboto;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 10px 30px;
    background-color: #5485e8;
    color: white;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    
}


.hero-inner a:hover {
    background-color: #497bdd;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


@media only screen and (max-width: 450px) {
    .hero h1 {

        font-size: 2em;
        margin-bottom: 0.5em;
    }

    .hero h2 {

        font-size: 1em;
        margin-bottom: 0.5em;
    }

    .hero-inner a {
        padding: 10px 30px;
        width: 80%;
    }

}

/* --------------------
-------------------- 
Section Two */

.OneNotes_Home_Page_Section_Two {
    margin: 60px auto 100px auto;
}

.OneNotes_Home_Page_Section_Two h2 {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.OneNotes_Home_Page_Section_Two_Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
}

.OneNotes_Home_Page_Container_All {
    width: 400px;
    height: 250px;
    border-radius: 5px;
    padding: 40px;
    margin-bottom: 30px;
    background-color: rgb(245, 250, 255);
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
}

.OneNotes_Home_Page_Container_All:hover {
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    background: rgb(70,122,228);
    background: linear-gradient(180deg, rgba(70,122,228,1) 0%, rgba(84,133,232,1) 100%);
}

.OneNotes_Home_Page_Container_All:hover p, .OneNotes_Home_Page_Container_All:hover h4  {
    color: white;
}

.OneNotes_Home_Page_Container_All h4 {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 25px;
    margin-bottom: 10px;
    text-align: center;
}

.OneNotes_Home_Page_Container_All p {
    text-align: center;
    font-size: 18px;
}


/* --------------------
-------------------- 
Section Three */

.OneNotes_Home_Page_Section_Three {
    margin: 100px auto 100px auto;
    width: 90%;
}

.OneNotes_Home_Page_Section_Three h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}


.OneNotes_Home_Page_Section_Three p {
    text-align: center;
    font-size: 25px;
}

.OneNotes_Home_Page_Section_Three a {
    display: block;
    width: 400px;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    background-color: #5485e8;
    color: white;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
}

.OneNotes_Home_Page_Section_Three a:hover {
    background-color: #497bdd;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/* --------------------
-------------------- 
Section Four */


.OneNotes_Home_Page_Section_Four {
    display: flex;
    flex-direction: row-reverse;
    margin: 100px auto 100px auto;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 20px;
}

.OneNotes_Home_Page_Section_Four_Left {
    margin-left: 20px;
}

.OneNotes_Home_Page_Section_Four_Left h2 {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 45px;
    margin-bottom: 20px;
}

.OneNotes_Home_Page_Section_Four_Left p {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}

.OneNotes_Home_Page_Section_Four img {
    width: 50%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);

}

.OneNotes_Home_Page_Section_Four_Left a {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    color: #5485e8;
}

.OneNotes_Home_Page_Section_Four_Left a:hover {
    color: #497bdd;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/* --------------------
-------------------- 
Section Five */


.OneNotes_Home_Page_Section_Five {
    display: flex;
    margin: 100px auto 100px auto;
    justify-content: space-between !important;
    align-items: center;
    padding: 10px 20px;
}


.OneNotes_Home_Page_Section_Five_Left h2 {
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 45px;
    margin-bottom: 20px;
}

.OneNotes_Home_Page_Section_Five_Left p {
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 40px;
}

.OneNotes_Home_Page_Section_Five img {
    width: 50%;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
}

.OneNotes_Home_Page_Section_Five_Left a {
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    color: #5485e8;
}

.OneNotes_Home_Page_Section_Five_Left a:hover {
    color: #497bdd;;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* --------------------
-------------------- 
Section Six */

.OneNotes_Home_Page_Section_Six {
    margin: 100px auto 100px auto;
    width: 90%;
}

.OneNotes_Home_Page_Section_Six h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}


.OneNotes_Home_Page_Section_Six p {
    text-align: center;
    font-size: 25px;
}

.OneNotes_Home_Page_Section_Six a {
    display: block;
    width: 50%;
    margin: auto;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 25px;
    background-color: #5485e8;
    color: white;
    text-align: center;
    padding: 10px 40px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    -moz-box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
    box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);
}

.OneNotes_Home_Page_Section_Six a:hover {
    background-color: #497bdd;
    color: white;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}


/* --------------------
-------------------- 
Section Seven */

/* .OneNotes_Home_Page_Section_Five {
    margin: 100px auto 100px auto;
}

.OneNotes_Home_Page_Section_Five h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: black;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.Logo_Parter_Companies {
    width: 90%;
    margin: 30px auto 10px auto;
    display: flex;
    justify-content: space-between;
}

.Logo_Parter_Companies img {
    width: 80px;
} */

/*----------------------------*/
/*----------------------------*/
/*Email Sign up form*/

.OneNotes_Home_Page_Email_SignUp_Form {
    width: 70%;
    margin: 100px auto 100px auto;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(212,212,212,1);
	-moz-box-shadow: 1px 1px 5px 0px rgba(212,212,212,1);
	box-shadow: 1px 1px 5px 0px rgba(212,212,212,1);
    background: rgb(70,122,228);
    background: linear-gradient(180deg, rgba(70,122,228,1) 0%, rgba(84,133,232,1) 100%);
}

.OneNotes_Home_Page_Email_Header p {
    text-align: center;
    font-size: 35px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
}

.OneNotes_Home_Page_Email_SignUp_Form form {
    padding: 50px 0;
    width: 60%;
    margin: 12% auto;
}

.OneNotes_Home_Page_Email_SignUp_Form .description {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;

    
}

.OneNotes_Home_Page_Email_SignUp_Form .input {
    display: flex;
    align-items: center;
}
  
  
.OneNotes_Home_Page_Email_SignUp_Form .button {
    height: 44px;
    border: none;
}
  
    
#email {
    width: 75%;
    background: rgb(255, 255, 255);
    font-family: inherit;
    color: #737373;
    letter-spacing: 1px;
    text-indent: 5%;
    border-radius: 5px 0 0 5px;
}
 

  
#submit {
    width: 25%;
    height: 46px;
    color: white;
    background: rgb(243, 171, 15);
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 1px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background .3s ease-in-out;
}
  
  
#submit:hover {
    background: rgb(228, 158, 8);
}
    
  
input:focus {
    outline: none;
    outline: 2px solid rgb(228, 158, 8);
    box-shadow: 0 0 2px rgb(228, 158, 8);

}

@media only screen and (max-width: 450px) {
    .OneNotes_Home_Page_Email_SignUp_Form {
        width: 95%;
    }

    .OneNotes_Home_Page_Email_SignUp_Form form {
        width: 85%;
    }
}

/*Footer*/


.Container_Footer {
    left: 0;
    bottom: 0;
    width: 70%;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Footer_Items {
    display: flex;
    flex-direction: column;
}

.Footer_Items p {
    color: rgb(46, 46, 46);
    font-weight: 600;
}

.Footer_Items a {
    letter-spacing: 1px;
    line-height: 2em;
    color: rgb(163, 163, 163);
}

.Fotter_Text {
    text-align: center;
    margin-top: 10px;
}